<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-warning fade in alert-dismissable"><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li class="alert alert-warning fade in alert-dismissable"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :person_nome %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :person_telefone %>
  </div>

  <div class="field">
    <%= form.label :dataNascimento %>
    <%= form.date_select :dataNascimento, id: :person_dataNascimento %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :person_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
